<div class= "center hero_unit">
	<h1>Welcome to the Sample App</h1>
<h2>
This is the home page of the application tutorial <a href="http://railstutorial.org">Ruby on rails tuts</a></h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
<a href = "http://rubyonrails.org"><img src="/assets/rails.png" alt="Rails"/></a>